Repository Automattic/course, pull requests merged in 2022-11, with the labels that each got.

#64 Remove lesson and quiz templates
  templates/lesson.html
  templates/quiz.html
Labels: Theme

#67 Remove Landing Page pattern
  patterns/blog-posts.php
  patterns/homepage.php
Labels: Theme

#69 Update theme description
  README.md
  readme.txt
  screenshot.png
  style.css
Labels: Theme

#71 Update image name and eliminate use of hardcoded URL
  assets/images/testimonial.png
  patterns/testimonial.php
Labels: Theme

#62 Add template for 404 page
  patterns/404.php
  style.css
  templates/404.html
  theme.json
Labels: Template, Theme

#65 Add single post template
  parts/header.html
  patterns/newsletter.php
  style.css
  templates/single.html
  theme.json
Labels: Template, Theme

#73 Tweaks to patterns
  functions.php
  patterns/footer.php
  patterns/mailing-list.php
  patterns/newsletter.php
  patterns/search.php
Labels: Theme

#70 Add footer template and pattern
  assets/js/footer.js
  functions.php
  patterns/footer.php
  style.css
  theme.json
Labels: Template, Template Part, Theme

#39 Add Archive Page + pagination pattern on all template
  style.css
  templates/archive.html
  templates/index.html
  templates/search.html
  theme.json
Labels: Theme

#77 Update search page template
  parts/header.html
  patterns/search.php
  style.css
  templates/index.html
  templates/search.html
Labels: Template, Theme

#83 Replace "sensei-theme" references with "course"
  templates/archive.html
  templates/search.html
Labels: Theme

#84 Fix error in console
  assets/js/footer.js
  functions.php
Labels: Theme

#82 Rename page template to "Wide Width, No Title"
  style.css
  templates/page-wide-width.html
  theme.json
Labels: Theme

#86 Fix styles in mailing list and testimonial patterns
  patterns/mailing-list.php
  patterns/testimonial.php
Labels: Theme

#85 Fix design, format and Internationalize texts in newsletter, testimonial and mailing list template
  patterns/mailing-list.php
  patterns/newsletter.php
  patterns/testimonial.php
Labels: Pattern, Theme

#87 Fix links in footer
  patterns/footer.php
  style.css
  theme.json
Labels: Theme

#95 Fix post meta template to fix broken index template
  parts/post-meta.html
  theme.json
Labels: Template, Template Part, Theme

#96 Pair background with foreground colors
  patterns/footer.php
  patterns/mailing-list.php
  patterns/testimonial.php
  style.css
  templates/search.html
  templates/single.html
  theme.json
Labels: Theme

#99 Address theme review feedback
  assets/images/magnifying-glass-solid.svg
  patterns/search.php
  readme.txt
  style.css
Labels: Theme

#100 Limit available font sizes and use fluid typography
  patterns/404.php
  patterns/footer.php
  patterns/mailing-list.php
  patterns/newsletter.php
  patterns/testimonial.php
  style.css
  templates/archive.html
  templates/page.html
  templates/search.html
  templates/single.html
  theme.json
Labels: Theme

#101 Add style variations
  assets/fonts/Inter-VariableFont_slnt,wght.ttf
  assets/fonts/Syne-VariableFont_wght.ttf
  assets/fonts/arvo/Arvo-Bold.ttf
  assets/fonts/arvo/Arvo-Regular.ttf
  assets/fonts/eb-garamond/EBGaramond-Italic-VariableFont_wght.ttf
  assets/fonts/eb-garamond/EBGaramond-VariableFont_wght.ttf
  assets/fonts/ebgaramond-regular.woff2
  assets/fonts/inter.woff2
  assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf
  assets/fonts/lora/Lora-VariableFont_wght.ttf
  assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf
  assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf
  assets/fonts/noto-sans/NotoSans-Bold.ttf
  assets/fonts/noto-sans/NotoSans-Regular.ttf
  assets/fonts/noto-sans/NotoSans-SemiBold.ttf
  patterns/footer.php
  patterns/mailing-list.php
  patterns/newsletter.php
  patterns/testimonial.php
  readme.txt
  styles/blue.json
  styles/dark.json
  styles/gold.json
  templates/page.html
  theme.json
Labels: Theme

#103 Fix spacing issues for posts and pages
  course.pot
  parts/header.html
  readme.txt
  style.css
  templates/page.html
  templates/single.html
  theme.json
Labels: Theme

#106 Fix header appearing behind some elements
  style.css
Labels: Theme

#68 Support Learning mode
  assets/js/header.js
  functions.php
  learning-mode.css
  style.css
  theme.json
Labels: Theme

#129 Don't override post title's font size
  theme.json
Labels: Theme
